html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

html.noscroll {
  overflow: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#0053ff), to(#7c39f0d9));
  background: -o-linear-gradient(top, #0053ff, #7c39f0d9);
  background: linear-gradient(to bottom, #0053ff, #7c39f0d9);
  background-position: center;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  overflow-x: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.noscroll {
  overflow: hidden;
}

body * {
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body *::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

body *::-webkit-scrollbar-track {
  background: rgba(76, 88, 102, 0.1);
  border-radius: 2px;
  width: 2px;
  height: 2px;
}

body *::-webkit-scrollbar-thumb {
  background: rgba(76, 88, 102, 0.3);
  border-radius: 2px;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input {
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 200%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input ::-webkit-input-placeholder {
  color: #2E363D;
  opacity: 0.5;
}

input ::-moz-placeholder {
  /* Firefox 19+ */
  color: #2E363D;
  opacity: 0.5;
}

input :-ms-input-placeholder {
  /* IE 10+ */
  color: #2E363D;
  opacity: 0.5;
}

input :-moz-placeholder {
  /* Firefox 18- */
  color: #2E363D;
  opacity: 0.5;
}

svg, path {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

section {
  overflow: hidden;
}

button {
  padding: 0;
  background-color: #fff;
  border: none;
}

iframe {
  width: 100%;
  height: 100%;
}

ul, li, ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 100%;
  vertical-align: bottom;
}

@media (max-width: 626px) {
  br {
    display: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  position: relative;
  padding: 0 10px;
  width: 768px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

/*fonts*/
@font-face {
  font-family: 'museo';
  src: url("/fonts/museo/MuseoSansCyrl-700.eot.eot");
  src: local("Museo-Bold"), local("Museo-Bold"), url("/fonts/museo/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("/fonts/museo/MuseoSansCyrl-700.woff") format("woff"), url("/fonts/museo/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/*page*/
.page__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 626px) {
  .page__flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.page__info {
  width: 350px;
  margin-right: 6px;
}

@media (max-width: 626px) {
  .page__info {
    width: 100%;
    margin-bottom: 20px;
  }
}

.page__skills {
  width: calc(100% - 302px);
}

@media (max-width: 626px) {
  .page__skills {
    width: 100%;
  }
}

/*info*/
.info {
  padding: 20px 15px;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 10px;
}

.info__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

@media (max-width: 626px) {
  .info__flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.info__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 110px;
  height: 110px;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 100%;
  margin-right: 20px;
}

.info__img > img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.info__name {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  color: #CECACA;
  margin-bottom: 5px;
}

.info__name > span {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 43px;
  color: #FFFFFF;
}

.info__position {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #CECACA;
}

.info__parts {
  padding: 10px;
  background: rgba(196, 196, 196, 0.35);
  border-radius: 10px;
}

.info__parts > ul > li {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FAFAFA;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__parts > ul > li:before {
  content: '';
  width: 6px;
  height: 6px;
  background-color: #FAFAFA;
  border-radius: 100%;
  margin-right: 10px;
}

.info__contactbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 14px;
  background: rgba(196, 196, 196, 0.35);
  border-radius: 10px;
  margin-bottom: 5px;
  position: relative;
}

.info__contactbox > span {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

.info__contactbox > span > svg {
  width: 100%;
  height: 100%;
}

.info__contactbox > span > svg > path {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.info__contactbox > a {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}

.info__contactbox > a:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.info__contactbox > p {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}

.info__partstitle {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

/*skills*/
.skills {
  padding: 20px 15px;
  background: #FFFFFF;
  border-radius: 10px;
}

.skills__part {
  margin-bottom: 20px;
}

.skills__titlebox {
  position: relative;
  margin-bottom: 15px;
}

.skills__titlebox:after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  background-color: #545454;
}

.skills__title {
  display: inline-block;
  background: #545454;
  border-radius: 5px;
  padding: 3px 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  position: relative;
  z-index: 10;
}

.skills__date {
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 18px;
  color: #73808D;
  margin-bottom: 10px;
}

.skills__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.8);
}

.skills__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills__item {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 25px;
  margin-bottom: 15px;
}

.skills__item:last-child {
  margin-right: 0;
}
