/*ADAPTIVE*/
html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

html.noscroll {
  overflow: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  overflow-x: hidden;
  min-height: 100vh;
}

body.noscroll {
  overflow: hidden;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input {
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 200%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input ::-webkit-input-placeholder {
  color: #2E363D;
  opacity: 0.5;
}

input ::-moz-placeholder {
  /* Firefox 19+ */
  color: #2E363D;
  opacity: 0.5;
}

input :-ms-input-placeholder {
  /* IE 10+ */
  color: #2E363D;
  opacity: 0.5;
}

input :-moz-placeholder {
  /* Firefox 18- */
  color: #2E363D;
  opacity: 0.5;
}

svg, path {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

section {
  overflow: hidden;
}

button {
  padding: 0;
  background-color: #fff;
  border: none;
}

iframe {
  width: 100%;
  height: 100%;
}

ul, li, ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 100%;
  vertical-align: bottom;
}

@media (max-width: 576px) {
  br {
    display: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 1160px;
}

@media (max-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 48px;
  letter-spacing: 0.04em;
  color: #1B1B1B;
}

.title > span {
  color: #5199FF;
}

@media (max-width: 576px) {
  .title {
    line-height: 40px;
  }
}

.btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 16px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#5199FF), color-stop(211%, #0351C1));
  background: -o-linear-gradient(top, #5199FF 0%, #0351C1 211%);
  background: linear-gradient(180deg, #5199FF 0%, #0351C1 211%);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25), 0px 4px 0px #2E79E3;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25), 0px 4px 0px #2E79E3;
  border-radius: 4px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.btn > p {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-right: 16px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.btn > span svg path {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.btn--black {
  background: #3A416F;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25), 0px 4px 0px #262B4F;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25), 0px 4px 0px #262B4F;
}

.btn--black:hover {
  background: #FFFFFF;
}

.btn--black:hover > p {
  color: #1B1B1B;
}

.btn--white {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 8px #D1D3D4, 0px 4px 0px #BCBEC0;
          box-shadow: 0px 4px 8px #D1D3D4, 0px 4px 0px #BCBEC0;
}

.btn--white > p {
  color: #1B1B1B;
}

.btn--white:hover {
  background: #3A416F;
}

.btn--white:hover > p {
  color: #fff;
}

@media (max-width: 576px) {
  .btn--white {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .btn--white > span {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

.search {
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 8px rgba(27, 27, 27, 0.1);
          box-shadow: 0px 4px 8px rgba(27, 27, 27, 0.1);
  border-radius: 100%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  position: absolute;
  right: 82px;
  bottom: 160px;
  cursor: pointer;
}

.search > svg path {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.search:hover {
  background-color: #0351c1;
}

.search:hover > svg path {
  fill: #fff;
}

@media (max-width: 992px) {
  .search {
    display: none;
  }
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.slick-dots > li {
  width: 7px;
  height: 7px;
  overflow: hidden;
  margin-right: 15px;
  border-radius: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-dots > li:last-child {
  margin-right: 0;
}

.slick-dots > li.slick-active > button {
  background-color: #5199FF;
}

.slick-dots > li > button {
  width: 100%;
  height: 100%;
  font-size: 0;
  background-color: #E5E5E5;
}

@media (max-width: 576px) {
  .slick-dots {
    margin-top: 30px;
  }
}

.search-min {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: auto;
}

.search-min > svg {
  width: 100%;
  height: 100%;
}

.search-min > svg path {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.search-min:hover > svg path {
  fill: #1b1b1b;
}

/*page*/
.header {
  background-color: #fff;
  border-bottom: 1px solid #F1F2F2;
  padding: 30px 0;
}

@media (max-width: 576px) {
  .header {
    padding: 20px 0;
    min-height: 64px;
  }
}

@media (max-width: 576px) {
  .header__grow {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.header__logo {
  display: inline-block;
  width: 140px;
}

.header__logo > svg {
  width: 100%;
}

@media (max-width: 992px) {
  .header__logo {
    display: block;
    margin: auto;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .header__logo {
    width: 130px;
  }
}

.header__logo.hide {
  opacity: 0;
}

.header__min {
  display: none;
}

@media (max-width: 992px) {
  .header__min {
    display: block;
  }
}

@media (max-width: 576px) {
  .header__min {
    -webkit-box-flex: inherit;
        -ms-flex: inherit;
            flex: inherit;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

.header__nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav > ul > li {
  margin-right: 57px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav > ul > li:last-child {
  margin-right: 0;
}

.header__nav > ul > li > a {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1B1B1B;
  margin-right: 6px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__nav > ul > li > a:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.header__nav > ul > li > a:hover {
  color: #5199FF;
}

.header__nav > ul > li > span {
  width: 12px;
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header__row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 992px) {
  .header__col {
    display: none;
  }
}

.header__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 36px;
  position: relative;
}

.header__review > span {
  margin-right: 12px;
}

.header__review > span svg path {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__review > a {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #757982;
}

.header__review > a:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.header__review:hover > a {
  color: #757982;
}

.header__review:hover > span svg path {
  fill: #757982;
}

.header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__login > span {
  margin-right: 12px;
}

.header__login > span svg path {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__login > a {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__login > a:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.header__login:hover > a {
  color: #757982;
}

.header__login:hover > span svg path {
  fill: #757982;
}

.burger {
  width: 20px;
  height: 20px;
  display: none;
}

.burger__open {
  width: 100%;
  height: 100%;
}

.burger__open > svg {
  width: 100%;
  height: 100%;
}

.burger__open > svg rect {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  fill: #000;
}

.burger__open:hover > svg rect {
  fill: #0d6efd;
}

.burger__close {
  width: 100%;
  height: 100%;
  display: none;
}

.burger__close > svg {
  width: 100%;
  height: 100%;
}

.burger__close > svg rect {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  fill: #000;
}

.burger__close:hover > svg rect {
  fill: #0d6efd;
}

.burger.active .burger__open {
  display: none;
}

.burger.active .burger__close {
  display: block;
}

@media (max-width: 992px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.min_menu {
  position: absolute;
  left: -100px;
  top: 89px;
  border-top: 2px solid #ececec;
  opacity: 0;
  visibility: hidden;
  z-index: -50;
  background-color: #fff;
  width: 100%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  height: auto;
}

.min_menu.active {
  left: 0;
  opacity: 1;
  visibility: visible;
  z-index: 100;
}

@media (max-width: 576px) {
  .min_menu {
    top: 65px;
  }
}

.min_menu__nav {
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.min_menu__nav > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  position: relative;
}

.min_menu__nav > ul > li.active {
  background-color: #F5F5FA;
}

.min_menu__nav > ul > li.active > ul {
  display: block;
}

.min_menu__nav > ul > li > a {
  padding: 8px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1B1B1B;
  position: relative;
}

.min_menu__nav > ul > li > a > p {
  margin-right: 8px;
}

.min_menu__nav > ul > li > a > span {
  width: 11px;
  height: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.min_menu__nav > ul > li > ul {
  z-index: 5;
  background-color: #fff;
  width: 100%;
  display: none;
}

.min_menu__nav > ul > li > ul > li {
  position: relative;
}

.min_menu__nav > ul > li > ul > li.active > a {
  border-left: 4px solid #0351C1;
  background: #F5F5FA;
}

.min_menu__nav > ul > li > ul > li.active:after {
  content: '-';
}

.min_menu__nav > ul > li > ul > li.active > ul {
  display: block;
}

.min_menu__nav > ul > li > ul > li:after {
  content: '+';
  width: 16px;
  height: 16px;
  font-size: 25px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.min_menu__nav > ul > li > ul > li > a {
  border-left: 4px solid transparent;
  display: block;
  padding: 8px 12px;
  padding-right: 30px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #1B1B1B;
  line-height: 24px;
  position: relative;
}

.min_menu__nav > ul > li > ul > li > a:before {
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.min_menu__nav > ul > li > ul > li > ul {
  width: 100%;
  display: none;
}

.min_menu__nav > ul > li > ul > li > ul > li {
  position: relative;
  padding: 8px;
  padding-left: 32px;
}

.min_menu__nav > ul > li > ul > li > ul > li > a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #757982;
}

.min_menu__nav > ul > li > ul > li > ul > li > a:before {
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.min_menu__btns {
  padding: 25px 15px 15px 15px;
}

.min_menu__leav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.min_menu__leav > span {
  margin-right: 8px;
}

.min_menu__leav > span svg path {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.min_menu__leav > p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #757982;
}

.min_menu__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.min_menu__login > span {
  margin-right: 8px;
}

.min_menu__login > span svg path {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.min_menu__login > p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #5199FF;
}

.firstscreen {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 700px;
}

@media (max-width: 992px) {
  .firstscreen {
    padding-top: 78px;
    padding-bottom: 118px;
    height: auto;
    min-height: auto;
  }
}

@media (max-width: 576px) {
  .firstscreen {
    background-image: url("../img/firstbgmin.jpg") !important;
    background-size: cover;
  }
}

.firstscreen__box {
  max-width: 360px;
}

@media (max-width: 576px) {
  .firstscreen__box {
    margin: auto;
  }
}

.firstscreen__title {
  margin-bottom: 32px;
}

.firstscreen__title > span {
  display: block;
  text-transform: uppercase;
  color: #5199FF;
  font-weight: 500;
}

@media (max-width: 576px) {
  .firstscreen__title {
    text-align: center;
    line-height: 40px;
  }
}

.firstscreen__subtitle {
  margin-bottom: 64px;
}

.firstscreen__subtitle > p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #1B1B1B;
  margin-bottom: 16px;
}

.firstscreen__subtitle > p:last-child {
  margin-bottom: 0;
}

@media (max-width: 576px) {
  .firstscreen__subtitle > p {
    text-align: center;
    line-height: 28px;
  }
  .firstscreen__subtitle > p:first-child {
    display: none;
  }
}

@media (max-width: 576px) {
  .firstscreen__btn {
    margin: auto;
  }
}

.navigate {
  padding: 80px 0;
}

@media (max-width: 576px) {
  .navigate {
    padding-top: 60px;
    padding-bottom: 20px;
  }
}

.navigate__title {
  text-align: center;
  margin-bottom: 64px;
}

@media (max-width: 576px) {
  .navigate__title {
    margin-bottom: 30px;
  }
}

.navigate__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 64px;
}

@media (max-width: 576px) {
  .navigate__row {
    margin-bottom: 30px;
  }
}

.navigate__col {
  max-width: 360px;
  padding: 56px 55px 48px 55px;
  background: -o-linear-gradient(220.68deg, #F3F3F8 0%, #FBFBFD 76.89%);
  background: linear-gradient(229.32deg, #F3F3F8 0%, #FBFBFD 76.89%);
  -webkit-box-shadow: 0px 2px 8px rgba(58, 65, 111, 0.1);
          box-shadow: 0px 2px 8px rgba(58, 65, 111, 0.1);
}

@media (max-width: 1200px) {
  .navigate__col {
    padding: 25px;
    margin: 0 10px;
  }
}

@media (max-width: 992px) {
  .navigate__col {
    margin: 0 10px;
  }
}

.navigate__icon {
  width: 90px;
  height: 80px;
  margin: auto;
  margin-bottom: 70px;
}

.navigate__bold {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #1B1B1B;
  margin-bottom: 8px;
}

.navigate__link {
  display: inline-block;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #3A416F;
  -webkit-transition: .3;
  -o-transition: .3;
  transition: .3;
  text-align: center;
}

.navigate__link:hover {
  color: #1B1B1B;
}

.navigate__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 992px) {
  .navigate__btns {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
}

.navigate__btn {
  margin-right: 14px;
}

@media (max-width: 576px) {
  .navigate__btn {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.navigate .slick-list {
  overflow: inherit;
}

.partners {
  background: -webkit-gradient(linear, right top, left top, from(#FFFFFF), color-stop(49.99%, rgba(255, 255, 255, 0)), to(#FFFFFF));
  background: -o-linear-gradient(right, #FFFFFF 0%, rgba(255, 255, 255, 0) 49.99%, #FFFFFF 100%);
  background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 49.99%, #FFFFFF 100%);
  padding: 112px 0;
}

@media (max-width: 576px) {
  .partners {
    padding: 50px 0;
  }
}

.partners__col img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: gray;
          filter: gray;
  /* IE 6-9 */
}

@media (max-width: 992px) {
  .partners__col img {
    margin: auto;
  }
}

@media (max-width: 576px) {
  .partners__col img {
    height: 60px;
    width: 120px;
  }
}

.services {
  padding: 80px 0;
}

@media (max-width: 576px) {
  .services {
    padding: 50px 0;
  }
}

.services__subtitle {
  width: 743px;
  margin: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #3A416F;
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  .services__subtitle {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .services__subtitle {
    display: none;
  }
}

.services__title {
  text-align: center;
  margin-bottom: 64px;
}

@media (max-width: 576px) {
  .services__title {
    margin-bottom: 30px;
    font-size: 23px;
    line-height: 29px;
  }
}

.services__subtitlemin {
  display: none;
  text-align: center;
}

@media (max-width: 576px) {
  .services__subtitlemin {
    display: block;
    margin-bottom: 20px;
  }
}

.services__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  .services__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.services__col {
  max-width: 560px;
  border-radius: 8px;
  margin-bottom: 40px;
  padding: 32px 32px 72px 92px;
  position: relative;
}

.services__col:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-filter: drop-shadow(0px 4px 64px #D3D5E6);
          filter: drop-shadow(0px 4px 64px #D3D5E6);
  -webkit-box-shadow: 2px 2px 50px 10px #ddd;
          box-shadow: 2px 2px 50px 10px #ddd;
  z-index: -1;
}

@media (max-width: 1200px) {
  .services__col {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .services__col {
    max-width: 90%;
    min-width: 90%;
    margin: auto;
    padding: 15px;
    padding-left: 25px;
    margin-bottom: 10px;
    -webkit-box-shadow: inset -8px 18px 20px 30px #f1f5f9;
            box-shadow: inset -8px 18px 20px 30px #f1f5f9;
  }
  .services__col:before {
    display: none;
  }
  .services__col:last-child {
    margin-bottom: 40px;
  }
}

.services__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 48px;
}

@media (max-width: 576px) {
  .services__top {
    margin-bottom: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.services__icon {
  width: 67px;
  height: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 30px;
}

@media (max-width: 576px) {
  .services__icon {
    width: 50px;
    height: 50px;
  }
}

.services__bold {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1B1B1B;
}

@media (max-width: 768px) {
  .services__bold {
    font-size: 27px;
    line-height: 35px;
  }
}

@media (max-width: 576px) {
  .services__bold {
    font-size: 16px;
    line-height: 25px;
  }
}

.services__wrap {
  margin-bottom: 30px;
}

.services__wrap:last-child {
  margin-bottom: 0;
}

@media (max-width: 576px) {
  .services__wrap {
    display: none;
  }
  .services__wrap:last-child {
    display: block;
  }
}

.services__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 576px) {
  .services__flex {
    margin-left: 80px;
  }
}

.services__black {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #3A416F;
}

@media (max-width: 576px) {
  .services__black {
    display: none;
  }
}

.services__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.services__more > p {
  color: #E20338;
  margin-right: 4px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.services__more > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__more:hover > p {
  color: #3A416F;
}

.services__more:hover span path {
  fill: #3A416F;
}

.services__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #3A416F;
}

@media (max-width: 576px) {
  .services__text {
    display: none;
  }
}

.services__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

.services__list li:last-child {
  margin-bottom: 0;
}

.services__list li span {
  width: 95px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #757982;
}

.services__list li > p {
  width: 290px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #3A416F;
}

.services__bottomtext {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #757982;
  margin-bottom: 28px;
}

.services__browse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__browse > span {
  margin-right: 8px;
}

.services__browse > p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #3A416F;
}

.story {
  padding: 130px 0;
  background: -o-linear-gradient(220.68deg, #F3F3F8 0%, #FBFBFD 76.89%);
  background: linear-gradient(229.32deg, #F3F3F8 0%, #FBFBFD 76.89%);
}

@media (max-width: 576px) {
  .story {
    padding: 30px 0;
  }
}

.story__row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .story__col {
    -webkit-box-flex: inherit;
        -ms-flex: inherit;
            flex: inherit;
  }
}

.story__img {
  margin-right: 40px;
}

@media (max-width: 992px) {
  .story__img {
    margin-right: 0;
    width: 100%;
    margin-bottom: 35px;
  }
  .story__img > img {
    width: 100%;
  }
}

.story__title {
  margin-bottom: 18px;
}

@media (max-width: 576px) {
  .story__title {
    font-size: 25px;
    line-height: 33px;
  }
}

.story__subtitle {
  margin-bottom: 16px;
}

.story__btn > span {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}

.topfirms {
  padding-top: 150px;
  position: relative;
  margin-bottom: 80px;
}

@media (max-width: 576px) {
  .topfirms {
    padding-top: 60px;
    padding-bottom: 50px;
    margin-bottom: 0;
  }
}

.topfirms:before {
  content: '';
  position: absolute;
  width: 1065px;
  height: 375px;
  left: 50%;
  margin-left: -30%;
  top: -75px;
  background-image: url("../img/topfirms.png");
}

.topfirms__title {
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  .topfirms__title {
    font-size: 25px;
    line-height: 33px;
  }
}

.topfirms__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #1B1B1B;
  margin-bottom: 80px;
}

@media (max-width: 576px) {
  .topfirms__subtitle {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 23px;
  }
}

.topfirms__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topfirms__col {
  max-width: 360px;
  padding: 16px 32px;
  background: -o-linear-gradient(220.68deg, #F3F3F8 0%, #FBFBFD 76.89%);
  background: linear-gradient(229.32deg, #F3F3F8 0%, #FBFBFD 76.89%);
  -webkit-box-shadow: 0px 2px 8px rgba(58, 65, 111, 0.1);
          box-shadow: 0px 2px 8px rgba(58, 65, 111, 0.1);
  border-radius: 4px;
}

@media (max-width: 768px) {
  .topfirms__col {
    margin: 0 10px;
  }
}

@media (max-width: 576px) {
  .topfirms__col {
    padding: 10px;
  }
}

.topfirms__text {
  margin-bottom: 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #1B1B1B;
}

@media (max-width: 576px) {
  .topfirms__text {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eaeaea;
  }
}

.topfirms__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .topfirms__flex {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.topfirms__icon {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .topfirms__icon {
    margin-right: 20px;
  }
}

.topfirms__box {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #1B1B1B;
}

.topfirms__box > span {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #757982;
}

.topfirms .slick-list {
  overflow: inherit;
}

.createprofil {
  margin-bottom: 80px;
}

@media (max-width: 576px) {
  .createprofil {
    margin-bottom: 50px;
  }
}

.createprofil__box {
  padding: 12px 12px 32px 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FBFBFD), to(#F5F5FA));
  background: -o-linear-gradient(top, #FBFBFD 0%, #F5F5FA 100%);
  background: linear-gradient(180deg, #FBFBFD 0%, #F5F5FA 100%);
  border-radius: 8px;
  position: relative;
}

.createprofil__box:before {
  content: '';
  display: block;
  position: absolute;
  width: 258px;
  height: 295px;
  background-image: url("../img/createprofilbg.png");
  left: 0;
  top: 20px;
}

.createprofil__box:after {
  content: '';
  display: block;
  position: absolute;
  width: 258px;
  height: 295px;
  background-image: url("../img/createprofilbg.png");
  right: 0;
  top: 20px;
}

@media (max-width: 576px) {
  .createprofil__box:before {
    width: 180px;
  }
  .createprofil__box:after {
    display: none;
  }
}

.createprofil__title {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #1B1B1B;
  margin-bottom: 16px;
}

@media (max-width: 576px) {
  .createprofil__title {
    line-height: 40px;
  }
}

@media (max-width: 576px) {
  .createprofil__title {
    font-size: 25px;
    line-height: 33px;
  }
}

.createprofil__subtitle {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #1B1B1B;
  margin-bottom: 32px;
}

@media (max-width: 576px) {
  .createprofil__subtitle {
    font-size: 14px;
    line-height: 23px;
  }
}

.createprofil__btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-bottom: 20px;
}

.createprofil__btn > span {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}

.createprofil__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.createprofil__more > p {
  color: #E20338;
  margin-right: 4px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.createprofil__more > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.createprofil__more:hover > p {
  color: #3A416F;
}

.createprofil__more:hover span path {
  fill: #3A416F;
}

.footer {
  position: relative;
}

.footer:before {
  content: '';
  width: 303px;
  height: 488px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../img/footerbg1.svg");
  background-repeat: no-repeat;
}

.footer:after {
  content: '';
  width: 303px;
  height: 488px;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../img/footerbg2.svg");
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  .footer:before {
    display: none;
  }
  .footer:after {
    display: none;
  }
}

.footer__top {
  border-top: 4px solid #F5F5FA;
  padding-top: 30px;
  padding-bottom: 40px;
}

.footer__row {
  margin-bottom: 32px;
}

@media (max-width: 576px) {
  .footer__row {
    margin-bottom: 0;
  }
}

.footer__col {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.footer__col:nth-child(1) {
  -webkit-box-flex: 1.8;
      -ms-flex-positive: 1.8;
          flex-grow: 1.8;
}

.footer__col:nth-child(2) {
  -webkit-box-flex: 2.2;
      -ms-flex-positive: 2.2;
          flex-grow: 2.2;
}

.footer__col:nth-child(3) {
  -webkit-box-flex: 2.5;
      -ms-flex-positive: 2.5;
          flex-grow: 2.5;
}

.footer__col:nth-child(4) {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.footer__col:nth-child(5) {
  -webkit-box-flex: 3.5;
      -ms-flex-positive: 3.5;
          flex-grow: 3.5;
}

@media (max-width: 992px) {
  .footer__col {
    -webkit-box-flex: inherit;
        -ms-flex: inherit;
            flex: inherit;
    -ms-flex-positive: inherit !important;
        flex-grow: inherit !important;
    width: 48%;
    margin-bottom: 15px;
  }
}

@media (max-width: 576px) {
  .footer__col {
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #F5F5FA;
  }
}

.footer__bold {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1B1B1B;
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  .footer__bold {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__bold:after {
    content: '';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxNiAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik04IDYuOTg0OTNMMTQuMjgxOCAwLjVMMTUuNSAxLjc1NzU0TDggOS41TDAuNSAxLjc1NzUzTDEuNzE4MTUgMC40OTk5OTlMOCA2Ljk4NDkzWiIgZmlsbD0iIzFCMUIxQiIvPgo8L3N2Zz4K");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }
  .footer__bold.active {
    margin-bottom: 10px;
  }
  .footer__bold.active:after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.footer__list > li {
  margin-bottom: 8px;
}

.footer__list > li:last-chld {
  margin-bottom: 0;
}

.footer__list > li > a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #757982;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer__list > li > a:hover {
  color: #5199FF;
}

@media (max-width: 576px) {
  .footer__list {
    display: none;
  }
}

.footer__infobox {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .footer__infobox {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .footer__infobox {
    display: none;
  }
}

.footer__info {
  max-width: 260px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #757982;
}

@media (max-width: 992px) {
  .footer__info {
    -webkit-box-flex: inherit;
        -ms-flex: inherit;
            flex: inherit;
    width: 100%;
    max-width: 100%;
  }
}

.footer__infomin {
  display: none;
}

@media (max-width: 768px) {
  .footer__infomin {
    display: block;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .footer__infomin {
    line-height: 28px;
  }
}

.footer__addres {
  max-width: 180px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #757982;
}

@media (max-width: 992px) {
  .footer__addres {
    display: none;
  }
}

.footer__bottom {
  border-top: 2px solid #F5F5FA;
  padding: 30px 0;
}

@media (max-width: 768px) {
  .footer__bottom {
    padding-bottom: 80px;
  }
}

@media (max-width: 576px) {
  .footer__bottom {
    border-top: none;
    padding: 0;
    padding-bottom: 80px;
  }
}

.footer__flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .footer__links {
    -webkit-box-flex: inherit;
        -ms-flex: inherit;
            flex: inherit;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright > span {
  margin-right: 8px;
}

.footer__copyright > p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #757982;
}

@media (max-width: 768px) {
  .footer__copyright {
    width: 100%;
    -webkit-box-flex: inherit;
        -ms-flex: inherit;
            flex: inherit;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px;
  }
}

.footer__link {
  margin-left: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.04em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #1B1B1B;
}

@media (max-width: 768px) {
  .footer__link {
    -webkit-box-flex: inherit;
        -ms-flex: inherit;
            flex: inherit;
    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
  }
  .footer__link:last-child {
    margin-bottom: 25px;
  }
}

.footer__soc {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

@media (max-width: 768px) {
  .footer__soc {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: auto;
    margin-bottom: 25px;
  }
}

@media (max-width: 576px) {
  .footer__soc {
    width: 100%;
    max-width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #F5F5FA;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__soc > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__soc > ul > li {
  margin-right: 13px;
}

.footer__soc > ul > li:last-child {
  margin-right: 0;
}

.footer__soc > ul > li > a > svg path {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer__soc > ul > li > a:hover > svg path {
  fill: #5199FF;
}
